form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3vw;
    height: 80vh;

    input {
        width: 100%;
        border-radius: 4px;
        margin-top: 2vh;
        height: 4vh;
        font-size: medium;
        border: 2px solid black;


        &:invalid {
            border: 2px solid #EF6461;

        }

        &::placeholder {
            visibility: hidden;
        }

        &:focus {
            border: 2px solid black;
        }
    }

    label {
        position: relative;
        padding-left: 5px;
        bottom: 11vh;
        display: block;
        font-size: medium;
        transition: 0.2s ease;
        font-weight: bold;

    }

    input:placeholder-shown + label {
        font-weight: normal;
        bottom: 5vh;
        transition: 0.2s ease;

    }

    input:valid + label + .Error-message-form {
        visibility: hidden;
        transition: 0.5s ease;
    }

    .Error-message-form {
        visibility: visible;
        position: relative;
        font-size: smaller;
        margin: 0;
        text-align: right;
        bottom: 4vh;
        color: #EF7674;
        transition: 0.2s ease;

    }

    .Message-explaination {
        position: relative;
        bottom: 5vh;
        left: 10vw;
    }

    button {
        width: 30%;
        border: none;
        height: 7vh;
        background-color: #D8D4F2;

        font-weight: 600;
        align-self: end;
        transition: 0.2s ease;

        &:hover {
            background-color: #62466B;
            transition: 0.2s ease;
            color: #FFF;
        }
    }

}

