form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45vw;
    height: 45vh;
}

label {
    display: block;
}

button {
    width: 30%;
    border: 1 px solid black;
    border-radius: 10px;
    height: 6vh;
    background-color: aliceblue;
    font-weight: 600;

}